# Node.js dependencies
node_modules

# Logs
*.log

# Environment variables
.env

# Database files
*.db

# VS Code settings
.vscode

#Password and hashing
hash-password.js

# Dev docker file
DockerfileDev