<!doctype html>
<html>

<head>
  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap CSS via CDN -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <!-- Google fonts api via CDN -->
  <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600&display=swap" rel="stylesheet">

  <!-- Tailwind CSS via CDN -->
  <!-- Using Tailwind via CDN for simplicity. For production apps, Tailwind should be installed and compiled for optimal performance. -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind = {
      config: {
        darkMode: 'class'
      }
    }
  </script>

  <!-- Local css public -->
  <link rel="stylesheet" type="text/css" href="main.css" />


</head>

<body class="bg-white dark:bg-gray-900 text-gray-800 dark:text-white">

  <div id="wrapper">

    <!-- Include header from partials folder -->
    <%- include('partials/header.ejs')  %>

    <b>This website is under development</b>
    <p>Next Updates:</p>
    <ul>
      <li>CSS design update, dark mode (done for home) and basic transitions</li>
      <li>Add projects in portifolio section</li>
      <li>Add an AUTH/Login page</li>
    </ul>
    <p>Come back soon for changes!</p>
    test
    <div class="h-[2000px] bg-gray-100">Scroll down to see the effect</div>
  </div>

  <script src="scripts/theme-toggle.js"></script>
  <!-- LiveReload (development only) -->
  <% if (process.env.NODE_ENV==='development' ) { %>
    <script src="http://localhost:35729/livereload.js"></script>
    <% console.log('tet env') %>
  <% } %> 
  
</body>

</html>