<!doctype html>
<html> 
 <head> 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css" />
 </head> 
 <body> 
    <header>
        <h1>
           Home Page
        </h1>
        <!-- add navigation links -->
        <nav class="navbar navbar-expand-lg navbar-dark">
           <a class="navbar-brand" href="/author-home">Author Home</a>
           <a class="navbar-brand" href="/reader-home">Reader Home</a>
        </nav>
    </header> 
 </body> 
</html>
